@font-face {
	font-family: 'Sonny Gothic Bold';
	font-style: normal;
	font-weight: normal;
	src: url('/staticPM/font/SonnyGothicBold.woff') format('woff');
}
@font-face {
	font-family: 'Sonny Gothic Regular';
	font-style: normal;
	font-weight: normal;
	src: url('/staticPM/font/SonnyGothicRegular.woff') format('woff');
}
	@font-face {
	font-family: 'Sonny Gothic Thin';
	font-style: normal;
	font-weight: normal;
	src: url('/staticPM/font/SonnyGothicThin.woff') format('woff');
}
@font-face {
	font-family: 'Sonny Gothic Light';
	font-style: normal;
	font-weight: normal;
	src: url('/staticPM/font/SonnyGothicLight.woff') format('woff');
}
body{
	background-color:#EEF9FF;
}
h1{
	font-family:'Sonny Gothic Bold';
	font-weight:normal;
	font-size:42px;
	text-align:center;
	color:#182F31;
	margin:auto;
	line-height:70vh;
	position:relative;
}
p{
	font-family:'Sonny Gothic Light';
	font-weight:normal;
	width:100%;
	text-align:center;
	position:absolute;
	bottom:0px;
}
.wrapper{
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:70%;
	width:70%;
}
.icon{
	position:absolute;
	display:block;
	width:100px;
	height:100px;
	background: transparent 0 0 no-repeat url('/staticPM/err.svg');
	background-size: contain;
	margin: auto;
	left:0;right:0;top:0;bottom:175px;
}